main {
  display: flex;
  flex-direction: column;
}

main h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  color: #0F8BFE;
  margin-bottom: 0;
}

main > img {
  align-self: center;
  margin: 45px 0;
}

#conversorDoLink {
  padding: 20px;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

main > div {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

main button {
  border: 0;
  background: none;
}

#converter {
  align-self: center;

  color: #FFFFFF;
  background: #0F8BFE;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 500;
  padding: 16px 40px;
  font-weight: bold;
}

#converter:hover {
  background: #017df1;
}

#conversores button {
  border-radius: 5px;
}

#mp3,
#mp4 {
  padding: 2.5px;
}

#mp4 {
  margin-left: 6px;
}
